
.about{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-size: 3vh;
    /* border: 2px solid red; */
}
.about_con{
    margin-top: 11vh;
    height: 89%;
    width: 100%;
    /* border: 2px solid blue; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}
.about_left_side{
    height: 100%;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid black; */
    /* background-color: pink; */
}



.about_heading{
    margin: 1% 40%;
    color: #007bff;
    /* border: 2px solid red; */
}



/* .about h2{
    margin-top: 4%;
    color: #007bff;
} */

.about_li{
    margin-left: 3% ;
    list-style: none;
}
.about_li::before{
        content: "\2714"; 
        color: green;
        margin-right: 10px;
}
.about_heading2{
    color: #007bff;
}