.book{
    height:100%;
    width: 40vw;
    min-width: 40vw;
    max-height: 55vh;  
    min-height: 45vw; 
    border: 2px solid black;
    background-color: rgb(250, 253, 253);
    /* overflow: hidden; */
}
.mob_book{
    height: 100%;
    width: 100%;
    border: 2px solid;
    /* max-width: 70vw; */
}
/* .img_center{
    margin-left: 40%;
    margin-top: 2%;
    margin-bottom: 3%;
} */
.book p{
    margin: 0vh;
    background-color: brown;
    height: auto;
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
}

.pybook h2{
    margin-left: 30%;
    width: 40%;
}
.pybook #page2_h2{
    margin: 7%;
    font-size: x-large;
}
.pybook #myfooter{
    margin: 5% 14%;
    font-size: larger;
}
.pybook li{
    margin: 6%;
}
.pybook a{
    text-decoration: underline;
    color: blue;
}

.py_page2_con{
    margin-top: 2vh;
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

pre {
    white-space: pre-wrap; /* Ensures text wraps */
    word-wrap: break-word; /* Allows long words to wrap */
  }
  