.setting{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.setting_mob{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.setting_con{
    height: 50vh;
    width: 50vw;
    padding: 5vh;
    border-radius: 10px;
    
}
.setting_con_mob{
    padding: 5vw;
    position: fixed;
    top: 18vh;
    left: 5vw;
    height: 33vh;
    width: 90vw;
    border: 2px solid;
    border-radius: 10px;
}

.theme_con{
    height: 9vh;
    width: 100%;
    display: flex;
    border: 2px solid;
    border-radius: 20px;
    margin-top: 1vh;
}
.mob_theme_con{
    margin: 10px 0;
    height: 20%;
    width: 100%;
    display: flex;
    border: 2px solid;
    border-radius: 20px;
    
}

.theme{
    cursor: pointer;
    font-size: 3vh;
    font-weight: bold;
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active_theme{
    background-color: aqua;
    border-radius: 20px;
}

.other_setting{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 700;
}