.container{
  position: absolute;
  background-color: rgba(230, 221, 221, 0.947);
  top: 15vh;
  height: calc(85vh - 4px);
  width: 100vw;
  /* border: 2px solid; */
};

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



#mob_nav_background{
  position: absolute;
  /* position: fixed; */
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: blueviolet;
  z-index: 20;
}

.setting_con{
  margin-top: 15vh;
  border: 2px solid;
  margin-left: 1vw;
}
.setting_top{width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
}