.output_div{
    height: 85.5vh;
    width: 42.5vw;
    border: 2px solid;
    margin-top: 2vh;
    font-size: 2.5vh;
}

.box{
    height: 90vh;
    width:98vw;
    border: 2px solid blue;
    display: flex;
    /* margin-left: 3vw; */
    /* justify-content: space-around; */
}


pre {
    white-space: pre-wrap; /* Ensures text wraps */
    word-wrap: break-word; /* Allows long words to wrap */
  }

.getbook input{
    width: 30vw;
    height: 5vh;
    /* margin: 1vw; */
    margin: 0vw 3vh;
}

.copy_btn{
    height: 5vh;
    margin: 2vh;
}
.fetch_btn{
    width: 6vw;
    height: 7vh;
}

.getbook{
    display: flex;
    border: 2px solid;
}

/* ----------------------- */
.mob_box{
    height: 100vh;
    width: 100vw;
    /* rotate: 90deg; */
    border: 2px solid blue;
}

.mob_output_div{
    margin: 5px;
    width: 90vw;
    height: 35.1vh;
    border: 2px solid;
}