.view_book{
    height: 100vh;
    width: 100vw;
    perspective: 60vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: rgba(62, 62, 60, 0.365); */
}

.con1{
    transform: rotateX(25deg);
    height: 95vh;
    width: 85vw;
     /* border: 2px solid black;  */
    /* margin-right: 6vw; */
}
.mybook{
    font-size: 2.5vh;
    height: 90%;
    width: 85vw;
    display: flex;
    
    /* border: 2px solid black; */
    /* border-bottom: none; */
    perspective: 1500px;
    
}

.page1{
    padding: 10px;
    font-size: 3vh;
    height: 100%;
    width: 50%;
    background-color: #adc7be;
    border-right: 0.5px solid black;
    font-weight: 700;
    color: rgb(34, 32, 165);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    /* word-wrap: break-word; */
    /* white-space: normal; */
    /* flex-wrap: wrap; */
   /* animation: a1 2s 1; */
}

.page2{
    padding: 10px;
    height: 100%;
    width: 50%;
    background-color: #adc7be;
    /* border: 2px solid black; */
    font-weight: 700;
    color: rgb(34, 32, 165);
    transform-origin: left;
    
    transform-style: preserve-3d;
    overflow: auto;
}

.page3{
    background-color: #adc7be;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    z-index: -1;
}

.animate{
    animation: a1 2s ease-in  1;
}
.priveous_page{
    animation: previous 2s ease-out 1;
}

.buttons{
    height: 7%;
    width: 100%;
    /* border: 2px solid white; */
    background-color: #adc7be;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes a1{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(-180deg);
    }
}
@keyframes previous{
    0%{
        transform: rotateY(0deg);
    }
    1%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

/* ------------------------ */
.back_btn{
    position: absolute;
    top: -10vh;
    left: -8vw;
    margin-top: 1vh;
    height: 7vh;
    width: 10vw;
    /* border: 2px solid black; */
    /* z-index: 100; */
}
.mob_back_btn{
    position: absolute;
    top: -8vh;
    left: -8vw;
    margin-top: 4vh;
    height: 5vh;
    width: 13vw;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_mob_con {
    margin-top: 50%;
    margin-left: -39%;
    /* transform: rotateY(40deg); */
    position: fixed;
    transform: rotateY(15deg) rotate(90deg);
 
    transform-origin: center;
    width: 82vh; 
    height: 90vw;
    /* background-color: aqua; */
    /* border: 2px solid; */
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    border: 5px solid;
    background-color: antiquewhite;
} */
.mob_mybook{
    /* display: flex; */
    height: 90%;
    width: 100%;
    /* background-color: peru; */
    perspective: 1000px;
    /* transform-style: preserve-3d; */
}
.mob_page1{
    background-color: black;
    line-height: 1.4;
    padding: 10px 4px;
    font-size: 2.4vw;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: azure;
}
.mob_page2{
    line-height: 1.4;
    padding: 10px 5px;
    position: absolute;
    font-size: 2.4vw;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: white;
    z-index: 2;

    transform-style: preserve-3d;
    transform-origin: left;
}
.mob_page3{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: white;
}

.mob_buttons{
    font-size: 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: 100%;
    background-color: white;
    /* border: 2px solid; */
    
}